body {
  font-family: "Readex Pro", sans-serif;
  direction: rtl;
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}

.report-container {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container, .container-fluid {
  width: 95%;
  margin: auto;
}

.head {
  padding: 20px 0;
}

.head img {
  width: 70px;
  float: right;
}

.head h2 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 10px;
}

.head-two {
  background: #0b5ed7;
  padding: 10px 15px;
  color: #fff;
  margin-bottom: 20px;
}

.head-two .left h3 {
  font-size: 20px;
  font-weight: 600;
  float: right;
  text-align: center;
  position: relative;
  bottom: 23px;
}

.head-two .right {
  text-align: left;
}

.head-two .right a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  float: left;
}

.head-two em {
  margin: 0 5px;
}

.box-one {
  padding: 20px;
  margin-bottom: 20px;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-one .num1 h2 {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  top: 0;
  color: rgba(0,0,0,0.7);
  margin: 0;
  width: 100%;
  text-align: center;
}

.box-one .num1 span {
  font-weight: 700;
  font-size: 25px;
  color: #000;
  display: block;
  margin-top: 5px;
}

.box-one img {
  width: 80px;
}

.and2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.and2 img {
  width: 150px !important;
  margin: 0 auto !important;
  position: static !important;
  right: auto !important;
  bottom: auto !important;
  display: block;
}

.num1 p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  position: static;
}

.nu {
  position: absolute;
  left: 20px;
  top: 20px;
}

.nu img {
  width: 150px;
  position: static;
  bottom: 0px;
  left: 0px;
}

#qrcode {
  width: 150px;
  height: 150px;
  margin: 0;
  display: block;
}

.box-two p {
  font-size: 16px;
  margin: 6px 0;
  line-height: 1.8;
}

.box-two span {
  font-weight: 400;
}

.row span {
  display: inline-block;
  font-size: 15px;
}

/* row specific adjustments */
.row .col-md-4 span { position: relative; top: 20px; }
.row .col-md-8 span { position: relative; bottom: 0px; right: 50%; }
.row1 .col-md-8 span { position: relative; bottom: 20px; right: 50%; }
.row2 .col-md-6 span { position: relative; bottom: 40px; right: 50%; }
.row2 .col-md-3 span { position: relative; bottom: 20px; }
.row3 .col-md-3 span { position: relative; bottom: 40px; }
.row3 .col-md-4 span { position: relative; bottom: 60px; right: 30%; }
.row3 .col-md-5 span { position: relative; bottom: 80px; right: 50%; }
.row3 .col-md-6 span { position: relative; bottom: 100px; right: 70%; }
.row4 .col-md-3 span { position: relative; bottom: 100px; }
.row4 .col-md-4 span { position: relative; bottom: 90px; }
.row4 .col-md-5 span { position: relative; bottom: 110px; right: 30%; }
.row5 .col-md-2 span { position: relative; bottom: 100px; }
.row5 .col-md-3 span { position: relative; bottom: 120px; right: 20%; }
.row5 .col-md-4 span { position: relative; bottom: 140px; right: 35%; }
.row5 .col-md-5 span { position: relative; bottom: 160px; right: 50%; }
.row5 .col-md-6 span { position: relative; bottom: 180px; right: 65%; }
.row5 .col-md-7 span { position: relative; bottom: 200px; right: 80%; }
.row6 .col-md-12 span { position: relative; bottom: 190px; }
.row7 .col-md-3 span { position: relative; bottom: 180px; }
.row7 .col-md-4 span { position: relative; bottom: 200px; right: 30%; }
.row7 .col-md-2 span { position: relative; bottom: 190px; }
.row7 .col-md-6 span { position: relative; bottom: 210px; right: 35%; }
.row8 .col-md-3 span { position: relative; bottom: 200px; }
.row8 .col-md-5 span { position: relative; bottom: 220px; right: 20%; }
.row8 .col-md-6 span { position: relative; bottom: 240px; right: 40%; }
.row9 .col-md-3 span { position: relative; bottom: 230px; }
.row9 .col-md-9 span { position: relative; bottom: 250px; right: 30%; }
.row10 .col-md-12 span { position: relative; bottom: 240px; }
.row11 .col-md-3 span { position: relative; bottom: 230px; }
.row11 .col-md-4 span { position: relative; bottom: 250px; right: 20%; }
.row11 .col-md-5 span { position: relative; bottom: 270px; right: 35%; }
.row11 .col-md-6 span { position: relative; bottom: 290px; right: 50%; }
.row11 .col-md-8 span { position: relative; bottom: 310px; right: 65%; }
.row11 .col-md-9 span { position: relative; bottom: 330px; right: 80%; }
.row12 .col-md-12 span { position: relative; bottom: 320px; }
.row12 .col-md-9 span { position: relative; bottom: 340px; right: 30%; }
.row13 .col-md-12 span { position: relative; bottom: 330px; }
.row14 .col-md-12 span { position: relative; bottom: 320px; color: #000; text-decoration: none; }

.row div span[style*="border"] {
  padding: 4px 10px;
  display: inline-block;
  font-weight: 600;
}

.link-one a {
  color: black;
  word-break: break-all;
  text-decoration: none;
}

.print {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  position: static;
}

.print button {
  background: #0b5ed7;
  color: #fff;
  padding: 10px 25px;
  border: none;
  font-size: 25px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  position: static;
  display: inline-block;
  margin: 0;
}

footer {
  margin-top: auto;
  padding: 12px;
  background: rgb(3, 3, 85);
  color: #fff;
  text-align: center;
  position: static;
  width: 100%;
}

footer a {
  color: #0b5ed7;
  text-decoration: none;
}

/* ===================================================
   إصلاحات للشاشات الصغيرة فقط
   =================================================== */

/* للشاشات الصغيرة جداً (موبايل صغير) */
@media screen and (max-width: 480px) {
  .head h2 {
    font-size: 18px;
    margin-top: 5px;
  }
  
  .head-two .left h3 {
    font-size: 16px;
    float: none;
    position: static;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .head-two .right {
    text-align: center;
  }
  
  .head-two .right a {
    float: none;
    display: inline-block;
    margin: 2px;
    font-size: 14px;
  }
  
  .box-one {
    height: auto;
    min-height: 180px;
    padding: 15px;
    flex-direction: column;
    position: relative;
  }
  
  .box-one .num1 h2 {
    font-size: 20px;
    position: static;
    margin-bottom: 10px;
    order: 1;
  }
  
  .and2 {
    position: static;
    transform: none;
    order: 2;
    margin: 15px 0;
  }
  
  .and2 img {
    width: 120px !important;
    margin: 0 auto !important;
  }
  
  .num1 p {
    font-size: 16px;
    position: static;
    margin-top: 5px;
  }
  
  .nu {
    position: static;
    order: 3;
    margin-top: 10px;
  }
  
  #qrcode {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  
  /* إصلاح تداخل الأسماء */
  .row .col-md-8 span,
  .row1 .col-md-8 span {
    right: 0% !important;
    position: static !important;
    display: block;
    margin-top: 5px;
    text-align: right;
  }
  
  .row .col-md-4 span,
  .row1 .col-md-4 span {
    position: static !important;
    display: block;
    margin-bottom: 5px;
  }
  
  /* تقليل المسافات بين الصفوف */
  .row2 .col-md-6 span,
  .row3 .col-md-5 span,
  .row3 .col-md-6 span,
  .row4 .col-md-5 span,
  .row5 .col-md-5 span,
  .row5 .col-md-6 span,
  .row5 .col-md-7 span,
  .row7 .col-md-4 span,
  .row7 .col-md-6 span,
  .row8 .col-md-5 span,
  .row8 .col-md-6 span,
  .row9 .col-md-9 span,
  .row11 .col-md-4 span,
  .row11 .col-md-5 span,
  .row11 .col-md-6 span,
  .row11 .col-md-8 span,
  .row11 .col-md-9 span,
  .row12 .col-md-9 span {
    right: 0% !important;
  }
  
  /* إصلاح مواقف الصفوف */
  .row, .row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13, .row14 {
    margin: 8px 0;
  }
  
  .row span,
  .row1 span,
  .row2 span,
  .row3 span,
  .row4 span,
  .row5 span,
  .row6 span,
  .row7 span,
  .row8 span,
  .row9 span,
  .row10 span,
  .row11 span,
  .row12 span,
  .row13 span,
  .row14 span {
    font-size: 14px;
    position: static !important;
    bottom: auto !important;
    right: auto !important;
    top: auto !important;
    display: block;
    width: 100%;
    margin: 3px 0;
  }
  
  .print {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .print button {
    font-size: 20px;
    width: 180px;
    padding: 8px 20px;
  }
  
  footer {
    margin-top: 20px;
    padding: 10px;
  }
}

/* للشاشات المتوسطة الصغيرة (موبايل أفقي/تابلت صغير) */
@media screen and (max-width: 768px) {
  .head h2 {
    font-size: 22px;
  }
  
  .head-two .left h3 {
    font-size: 18px;
  }
  
  .box-one .num1 h2 {
    font-size: 22px;
  }
  
  .and2 img {
    width: 130px !important;
  }
  
  /* تعديلات طفيفة للمسافات */
  .row .col-md-8 span,
  .row1 .col-md-8 span,
  .row2 .col-md-6 span,
  .row3 .col-md-5 span,
  .row3 .col-md-6 span,
  .row4 .col-md-5 span,
  .row5 .col-md-5 span,
  .row5 .col-md-6 span,
  .row5 .col-md-7 span,
  .row7 .col-md-4 span,
  .row7 .col-md-6 span,
  .row8 .col-md-5 span,
  .row8 .col-md-6 span,
  .row9 .col-md-9 span,
  .row11 .col-md-4 span,
  .row11 .col-md-5 span,
  .row11 .col-md-6 span,
  .row11 .col-md-8 span,
  .row11 .col-md-9 span,
  .row12 .col-md-9 span {
    right: 25% !important;
  }
}

/* للعرض الأفقي على الموبايل */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .box-one {
    height: 140px;
    flex-direction: row;
  }
  
  .box-one .num1 h2 {
    position: static;
  }
  
  .and2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .and2 img {
    width: 110px !important;
  }
  
  #qrcode {
    width: 130px;
    height: 130px;
  }
}

/* لمنع التكبير الزائد على الشاشات الكبيرة */
@media screen and (min-width: 1200px) {
  .report-container {
    max-width: 1100px;
    margin: 0 auto;
  }
}

/* تحسين الطباعة - نفسها بدون تغيير */
@media print {
  .head,
  .head-two,
  .print,
  footer {
    display: none !important;
  }

  body {
    background: #fff;
    color: #000;
  }

  .report-container {
    width: 100%;
    margin: 0;
  }
}
